<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rebook your flight</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/form.css">
    <style>
    </style>
    <script src=""></script>
</head>
<body>
    <div class="header">
        <img src="/logo.svg">
    </div>

    <div class="rebook">
        <h1>Rebook your flight</h1>
      
        <div class="divider"></div>

        <p>We are sorry that your flight <%= flight_number %> on <%= departure %> has been disrupted.</p>
        <div>
            Please take a look at the recommended options below if you would like to rebook your flight.
        </div>
        <div class="flight_options">
            <% recommended_flights.forEach(flight => { %>
                <div class="flight_option" id="<%= flight._id %>" onclick=selected_flight(this)>
                    <div class="field">
                        <div>Date:</div>
                        <div class="highlight"><%= flight.departure %></div>
                    </div>
                    <div class="field">
                        <div>Flight:</div>
                        <div class="highlight"><%= flight.flight_number %></div>
                    </div>
                    <div class="field">
                        <div>Seats left:</div>
                        <div class="highlight"><%= flight.availability %></div>
                    </div>
                </div>
            <% }) %>
        </div>

        <div class="divider"></div>

        <div class="<%= recommended_accommodation.length === 0 ? 'hidden' : '' %>">
            <div>
                Since there are no longer flights available today, please take a look at the recommended accommodation options below.
            </div>
            <div class="accommodation_options" onclick=selected>
                <% recommended_accommodation.forEach(hotel => { %>
                    <div class="accommodation_option" id="<%= hotel._id %>" onclick=selected_accommodation(this)>
                        <div class="field">
                            <div>Hotel:</div>
                            <div class="highlight"><%= hotel.hotel_name %></div>
                        </div>
                        <div class="field">
                            <div>Rooms:</div>
                            <div class="highlight"><%= hotel.availability %></div>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>

        <div class="divider"></div>

        <div class="submission">
            <div class="submitBtn" onclick=submit()>Submit</div>
        </div>
    </div>

    <script>      
        function selected_flight(id) {
            const flight_options = document.getElementsByClassName('flight_option');
            let selected = id.id;
            for (let i of flight_options) {
                if (i.id == selected) {
                    i.classList.add('selected');
                } else {
                    if (i.classList.contains('selected')) {
                        i.classList.remove('selected');
                    }
                }
            }
        }

        function selected_accommodation(id) {
            const accommodation_options = document.getElementsByClassName('accommodation_option');
            let selected = id.id;
            for (let i of accommodation_options) {
                if (i.id == selected) {
                    i.classList.add('selected');
                } else {
                    if (i.classList.contains('selected')) {
                        i.classList.remove('selected');
                    }
                }
            }
        }

        function submit() {
            const user = JSON.parse('<%- JSON.stringify(email) %>');
            const pax = JSON.parse('<%- JSON.stringify(pax) %>');
            const old_flight = JSON.parse('<%- JSON.stringify(flight_number) %>');
            let selections = document.getElementsByClassName('selected');
            let new_flight = '';
            let hotel = '';
            for (let i of selections) {
                if (i.classList.contains('flight_option')) {
                    new_flight = i.id;
                } else if (i.classList.contains('accommodation_option')) {
                    hotel = i.id;
                }
            }
    
            const query = {
                "new_flight_data": new_flight,
                "old_flight_data": old_flight,
                "user_email": user,
                "accommodation": hotel,
                "pax": pax
            }

            console.log(query)

            fetch('http://localhost:5013/update_inventory', {
                method: 'POST',
                headers: {'Content-Type':'application/json'},
                body: JSON.stringify(query)
            }).then((res) => {
                return res.json();
            }).then((data) => {
                console.log(data);
            })
        }
    </script>

</body>
</html>